*{
    margin: 0%; 
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Crimson Text', serif;
    scroll-behavior: smooth;
    
}


#bodi{
    width: 98vw;
    margin: auto;
    height: auto;
    background-color: white;
}

header{
    width: 98vw;
    margin: auto;
    height: 15vh;
    background: linear-gradient(rgba(45, 13, 161, 0.8),rgba(244, 246, 247, 0.9));  
    display: flex;
    justify-content: space-between;
    position: fixed;
    z-index: 5;
}

#logo_container{
    width: 60px;
    height: 60px;
    padding-top: 0.7vw;
    margin-left: 30px;

}

#logo{
        border-radius: 50px;  
        width: 80px;
        height: 80px;
}

#nombre_pagina{
    color: rgba(88, 59, 195, 0.8);
    font-size: 4vw;  
    padding-top: 3.5vh;
    margin-right: 5vw;
    margin-left: 1vw;
}

#nav_container{
    width: 40vw;
    padding-top: 3vw;
}

#nav_container ul{
    margin: 0;
	padding: 0;
	list-style-type: none;
	display: flex;
	justify-content: space-around;
}

#nav_container ul li a{
	width: 90px;
	height: 25px;
	display: block;
	margin-right: 20px;
	text-align: center;
	text-decoration: none;
	color: black;
    background-color: rgb(37, 190, 163) ;
	border-radius: 60px;
	transition: background-color 0.4s; color: 0.4s;
}

#nav_container ul li a:hover{
	background-color: rgb(245, 229, 139);
	color: #1D282C;
	transform: scale(1.2) 
	transition: transform 0.3s;
    box-shadow: 1px 1px 20px 9px rgb(235, 220, 191);
}


main{
    width: 98vw;
    margin: auto;
    padding-top: 100px;
    background-color: rgb(161, 159, 159);
    height: auto;
    
}

#home{
    width: 98vw;
    height: 100vh;
    padding-top: 100px;
    margin-top: -100px;
    background-color: rgb(163, 161, 161);
}


#text_container{
    width: 98vw;
    height: 30vh;

}



#bienvenido{
    text-align: center;
    font-size: 2.5vw;
    padding-top: 5vh;

    color: rgba(88, 59, 195, 0.8);
    width: 98vw;
    font-family: 'Crimson Text', serif;
    
}

#verso{
    text-align: justify;
    font-size: 1.5vw;
    padding-top: 3.5vh;
    width: 80vw;
    margin: auto;
    font-family: 'Crimson Text', serif;

}

#video_container{
    width: 45vw;
    margin: auto;
    margin-top: 10px;
}

#cocinerito{
    border-radius: 30px;
    height: auto;
}



#galeria{
    width: 98vw;
    height: 120vh;
    background-color: rgb(161, 159, 159);
    margin: auto;
    padding-top: 100px;

}

#titulo_galeria{
    color: rgba(88, 59, 195, 0.8);
    text-align: center;
    font-family:'Crimson Text', serif;
    font-size: 2.5vw; 
    padding-top: 40px;
}

.contenedor{

    width: 96vw;
    height: 90vh;
    margin-top: 2vh;
    margin-right: auto;
    margin-left: auto;
    padding-top: 2vh;


    display: grid;
    grid-template-columns: repeat(autofit, 5, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 0.4vw;
}

.cell{
    background-color: red;
    border: 1px solid black;
    border-radius: 10px;
    text-align: center;
}

.cell1{
    grid-column: 1/3;
    grid-row: 1/2;
    background-image: url(../img/galeria/1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    
}

.cell2{
    
    background-image: url(../img/galeria/2.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

.cell3{
    background-image: url(../img/galeria/3.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.cell4{
    background-image: url(../img/galeria/4.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.cell5{
    background-image: url(../img/galeria/5.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


.cell6{
    grid-column: 2/4;
    background-image: url(../img/galeria/6.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.cell7{
    background-image: url(../img/galeria/7.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.cell8{
    background-image: url(../img/galeria/8.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.cell9{
    background-image: url(../img/galeria/9.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.cell10{
    background-image: url(../img/galeria/10.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.cell11{
    grid-column: 3/5;
    background-image: url(../img/galeria/11.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
	
}

.cell12{

    background-image: url(../img/galeria/12.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
	
}

.cell13{
    background-image: url(../img/galeria/13.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
	
}

.cell14{
    background-image: url(../img/galeria/14.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
	
}

.cell15{
    background-image: url(../img/galeria/15.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
	
}

.cell:hover{
	transform: scale(1.2);
	transition: transform 0.6s;
}


.cell16{
    grid-column: 4/6;
    background-image: url(../img/galeria/16.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.cell17{
    display: none;
}







@media all and (min-width: 600px) and (max-width: 1199px){
    #galeria{
        width: 100vw;
        height: 100vh;
        background-color: black;
    }
    
    .contenedor{
        width: 90vw;
        height: 90vh;
        margin-top: 2vh;
        margin-right: auto;
        margin-left: auto;
        padding-top: 2vh;
    
        display: grid;
        grid-template-columns: repeat(autofit,3, 1fr);
        grid-template-rows: repeat(7, 1fr);
        grid-auto-flow: dense;
        gap: 0.1vw;
    }

    .cell11{
        grid-column: 1/3;
    }

    .cell16{
        grid-column: 2/4;
    }

    .cell17{
    display: block;
    background-image: url(../img/galeria/17.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
	
    }
}






@media all and (max-width: 599px){
    #galeria{
        width: 100vw;
        height: 3200px;
        background-color: black;
    }
    
    .contenedor{
        width: 95vw;
        height: 3000px;
        margin-top: 1vh;
        margin-right: auto;
        margin-left: auto;
        display: grid;
        grid-template-columns: repeat( 1, 1fr);
        grid-auto-rows: 1fr;
        gap: 0.4vw;
    }

    
.cell1{
    grid-column: 1/2;
    grid-row: 1/3;
}

.cell2{
    grid-row: 3/5;
}

.cell3{
    grid-row: 5/7;
}

.cell4{
    grid-row: 7/9;
}

.cell5{
    grid-row: 9/11;
}

.cell6{
    grid-column: 1/2;
    grid-row: 11/13;
}

.cell7{
    grid-row: 13/15;
}

.cell8{
    grid-row: 15/17;
}

.cell9{
    grid-row: 17/19;
}

.cell10{
    grid-row: 19/21;
}

.cell11{
    grid-column: 1/2;
    grid-row: 21/23;
}

.cell12{
    grid-row: 23/25;
}

.cell13{
    grid-row: 25/27;
}

.cell14{
    grid-row: 27/29;
}

.cell15{
    grid-row: 29/31;
}

.cell16{
    grid-column: 1/2;
    grid-row: 31/33;
}

.cell17{
    display: block;
    background-image: url(../img/galeria/17.jpg);
    grid-row: 33/35;
}


}

    






/*----------------------------------   recetas--------------- */

#recetas{
    width: 98vw;
    height: auto;
    background-color: rgb(163, 161, 161);
    margin-top: 3vh;
    padding-bottom: 5vw;
    padding-top: 140px;
   
}


#dulces{
font-size: 1.7vw;
font-weight: bold;
}


#salados{
font-size: 1.7vw;
font-weight: bold;
}
#clip2{
    padding-top: 5vw;
    padding-bottom: 14vw;
    padding-left: 20vw;

}

#gourmet{
font-size: 1.7vw;
font-weight: bold;
}

#pastas{
    font-size: 1.7vw;
    font-weight: bold;
}

#postres{
    font-size: 1.7vw;
    font-weight: bold;
}

#titulo-recetas{
text-align: center;
margin-bottom: 1vw;
color: rgba(88, 59, 195, 0.8);
font-size: 3vw; 
font-family: 'Crimson Text', serif; 
}

.sec1{
    margin-bottom: 2vw;
    padding-left: 2vw;
}

.sec2{
    margin-bottom: 2vw;
    padding-left: 2vw;
}

.sec3{
    margin-bottom: 2vw;
    padding-left: 2vw;
}

.sec4{
    margin-bottom: 2vw;
    padding-left: 2vw;
}

.sec5{
    margin-bottom: 2vw;
    padding-left: 2vw;
}




/*----------------------------------   contacto --------------- */
#contacto{
    width: 98vw;
    height: auto;
    background-color: rgb(158, 156, 156);
    padding-bottom: 5vw;
    padding-top: 35px;

}

.contacto-form{
    margin-top: 7vw;
}

#titulo-contacto{
    text-align: center;
    color: rgba(88, 59, 195, 0.8);
    font-size: 3vw; 
    font-family: 'Crimson Text', serif; 
}


/*--------------------------------------------------------*/
#mapa-titulo{
    text-align: center;
    margin-top: 2vw;
    color: rgba(88, 59, 195, 0.8);
}
.mapa{
    width: 33vw;
    height:25vh;
    margin-left: 15vw;
    margin-top: 3vh;
    
}

/*-------------------------------------------------*/
.api{

	 margin-top: 1vw;
	 margin-left: 15vw;
	 margin-bottom:2vw;
}

.api-titulo{
    margin-top: 32vw;
    padding-left: 15vw;
    color: rgba(88, 59, 195, 0.8);
}

.api-busca{
    margin-top: 1vw;
    padding-left: 15vw;
}


/* Estilos para la tabla de api*/
#chefs-table {
    width: 50vw;
    border-collapse: collapse; 
    margin-top: 2vw;
    margin-left: 2vw;
   
}

#chefs-table th, td {
    padding: 1vw;
    text-align: left;
}

#chefs-table th {
    background-color: #517577;
}

#chefs-table tbody tr:nth-child(even){
    background-color: #b6b4b4;
}


#chefs-table tbody tr{
    background-color: #babdbd;
}

#chefs{
    padding-top: 1vw;
    margin-left: 2vw;
    
}

#buscar{
    margin-top: 2vw;
    margin-left: 2vw;
    background-color: #95c1c4;
    padding-top: 1vw;
    padding-bottom: 1vw;
}

#final{
    margin-top: 5vw;
    padding-bottom: 1vw;
}

/*----------------------------------   footer --------------- */

footer{
	height: 150px;
	background-color: #1D282C;
	display: flex;
    justify-content: space-around;
	background: linear-gradient(rgba(244, 246, 247, 0.9), rgba(45, 13, 161, 0.8));
}

#legales{
	height: 150px;
	width: 350px;
	margin-right: 75px;
	margin-left: 50px;
	display: flex;
	align-items: center;
}

#legales p{
	width: 350px;
	height: 150;
	color: black;
	
}


#redes{
	height: 150px;
	width: 400px;
	margin-right: 25px;
	display: flex;
	align-items: center;
}

#redes p{
	color:black;
	
}

#redes ul{
	width: 340px;
	height: 60px;
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}

#redes ul li{
	display: inline;
}

#redes ul li a{
	height: 62px;
	width: 62px;
	display: inline-block;
	background-color: #25bea3;
    text-decoration: none;
    box-sizing: border-box;
    padding-top: 7px;
    color:#25bea3 ;
    border-radius: 200px;
    margin-left: 21px;
}

#redes ul li a:hover{
	box-shadow: 1px 1px 30px 5px #25bea3;
	color:#7396a5 ;
}

#face{
    margin-left: 7px;  
    width: 50px;
    height: 50px;
    background-image: url(../img/icon/fb.png);
    background-repeat: no-repeat;
}

#face:hover{
    transform: scale(1.2) rotate(360deg);
	transition: transform 0.4s;
}

#inst{
    margin-left: 7px;  
    width: 50px;
    height: 50px;
    background-image: url(../img/icon/in.png);
    background-repeat: no-repeat;
}

#inst:hover{
    transform: scale(1.2) rotate(360deg);
	transition: transform 0.4s;
}


#what{
    margin-left: 7px;  
    width: 50px;
    height: 50px;
    background-image: url(../img/icon/wh.png);
    background-repeat: no-repeat;
}

#what:hover{
    transform: scale(1.2) rotate(360deg);
	transition: transform 0.4s;
}



#powered{
	height: 150px;
	width: 275px;
	margin-top: 50px;
}

#powered p{
	height: 25px;
	width: 80px;
	color:white ;
	float: left;
	margin-top: 65px;
	
}

#powered a{
	height: 25px;
	width: 170px;
	margin-top: 62px;
	margin-left: 10px;
    font-size: 20px;
    font-weight: bold;
	color: #25bea3;
	text-decoration: none;
	float: left;
}

#powered a:hover{
	text-shadow: 1px 1px 5px rgb(37, 190,
	 163);
}

