<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="img/letra-e.ico">
    <link rel="stylesheet" href="css/index.css">
    <title>Carga tu receta</title>
</head>d

<body>
    <header id="header">
        <div id="logo_container">
            <img id="logo" src="img/letra-e.png" alt="logo">
        </div>

        <div id="titulo_container">
            <h1 id="nombre_pagina">eGOURMET</h1>
        </div>

        <nav id="nav_container">
            <ul>
                <li>
                    <a class="menu" href="#recetario">Recetario</a>
                </li>
                <li>
                    <a class="menu" href="#agregar">Añadir</a>
                </li>
            </ul>
        </nav>
    </header>

    <main>

        <section class="container">
            <div id="app">

                <!-- Botón Nuevo -->
                <div class="container container-de-grid">
                    <a class="nuevo" href="templates/ingresar_producto.html">Nuevo</a>
                </div>

                <section v-if="error">Lo sentimos se produjo un error</section>
                <section v-else>
                    <section v-if="cargando">
                        <p>Cargando .....</p>

                    </section>

                    <section v-else>

                        <div>
                            <table class="tabla">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Autor</th>
                                        <th>Receta</th>
                                        <th>Ingredientes</th>
                                        <th>Notas</th>
                                        <th>Imagen</th>
                                        <th>Acciones</th>
                                        <th>Acciones</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    <tr v-for="producto in productos">
                                        <td>{{producto.id}}</td>
                                        <td>{{producto.nombre}}</td>
                                        <td>{{producto.titulo}}</td>
                                        <td>{{producto.receta}}</td>
                                        <td>{{producto.notas}}</td>
                                        <td>
                                            <img src="producto.imagen" width="150" height="100" alt="">

                                        </td>
                                        <td>

                                            <button type="button" v-on:click="eliminar(producto.id)">Eliminar</button>
                                        </td>
                                        <td>
                                            <a class="boton"
                                                :href="'templates/editar_producto.html?id='+ producto.id+'&nombre=' +producto.nombre+'&titulo=' +producto.titulo+'&receta=' +producto.receta+'&notas=' +producto.notas+'&imagen=' +producto.imagen">Editar</a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </section>
                </section>

            </div>
        </section>

    </main>

    <footer>
        <div id="legales">
            <p>© Copyright 2023. Todos los derechos reservados.</p>
        </div>

        <div id="redes">
            <p>Seguinos</p>
            <ul>
                <li>
                    <a href="https://es-la.facebook.com/" target="_blank">
                        <div id="face"></div>
                    </a>
                </li>
                <li>
                    <a href="https://www.instagram.com/" target="_blank">
                        <div id="inst"></div>
                    </a>
                </li>
                <li>
                    <a href="https://www.whatsapp.com/?lang=es" target="_blank">
                        <div id="what"></div>
                    </a>
                </li>
            </ul>
        </div>

        <div id="powered">
            <a href="">CODO/Grupo 4</a>
        </div>
    </footer>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

    <script src="js/tabla_productos.js"></script>
    <!-- <script src="js/header.js"></script> -->
</body>

</html>