

*{
    margin: 0%; 
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Crimson Text', serif;

    
}

#ebody{
    width: 90vw;
    margin: auto;
    height: 600px;
}

header{
    width: 90vw;
    margin: auto;
    height: 15vh;
    background: linear-gradient(rgba(45, 13, 161, 0.8),rgba(244, 246, 247, 0.9));  
    display: flex;
    justify-content: space-between;
}

#logo{
        width: 6vw;  
        height: auto; 
        padding-top: 0.7vw;
        border-radius: 40%;  
        margin-left: 30px;
}

h1{
    color: rgba(88, 59, 195, 0.8);
    font-size: 4vw;  
    padding-top: 3.5vh;
    margin-right: 5vw;
    margin-left: 1vw;
}

#nav_container{
    width: 40vw;
    padding-top: 3vw;
}
#nav_container ul{
    margin: 0;
	padding: 0;
	list-style-type: none;
	display: flex;
	justify-content: space-around;
}

#nav_container ul li a{
	width: 90px;
	height: 25px;
	display: block;
	margin-right: 20px;
	text-align: center;
	text-decoration: none;
	color:black ;
	border-radius: 60px;
	font-family: 'Ibarra Real Nova', serif;
	background-color:rgba(88, 59, 195, 0.8) ;
	transition: background-color 0.4s; color: 0.4s;
}

#nav_container ul li a:hover{
	background-color: rgb(208, 208, 134);
	color: #1D282C;

	transform: scale(1.40) /*rotate(45deg)*/ translateY(0.6vh) /*skewX(10deg)*/;
	transition: transform 0.3s;
    box-shadow: 1px 1px 20px 5px rgb(229, 229, 23);
}










main{
    width: 90vw;
    margin: auto;
    height: 85vh;
    /*display: flex;*/
    background-color: rgba(88, 59, 195, 0.8);
}

#text_container{
    width: 90vw;
    height: 30vh;

}

#bienvenido{
    text-align: center;
    font-size: 2vw;
    padding-top: 5vh;
    

}

#verso{
    text-align: justify;
    font-size: 1.5vw;
    padding-top: 3.5vh;
    width: 80vw;
    margin: auto;

}

#video_container{
    width: 45vw;
    margin: auto;
}

#cocinerito{
    border-radius: 30px;
    height: auto;
}




























/*

.header-linea{
    display: inline-block; 
    padding-right: 24vw; 
}


.icons{

height: 2vw;
}

header{
    height: 12vw; 
    font-size: 1vw; 
    text-align: right;  
    position: top; 
    width: 100%; 

}


.footer-menu{
    font-size: 1vw; 
}

body{
    background-image: url(../img/fondo-monocromatico-blanco-estilo-papel_52683-66443.avif);
    background-repeat: no-repeat;
    background-size:cover;
}


.menu{
    text-decoration: none; 
    color:brown;  
    padding-right: 2vw; 
}



.logo{
    width: 6vw;  
    height: auto; 
    padding-top: 2vw;
    border-radius: 40%;  
}


.S2{
   
    background-color: rgb(43, 42, 42);
    margin: 2vw 20vw;
    font-size: 2vw;
    border-radius:20% 20% 20% 20%;
}
.parrafo1{
    padding: 7vw 7vw 2vw 7vw;
    color:aliceblue
}

#clip2{
    padding-top: 5vw;
    padding-bottom: 14vw;
}
*/

/* Pie de página: color de fondo, altura, tamaño de fuente,
color de texto alineación de texto.
color: rgba(0,0,0,0.9) */
/*footer{
    background-color: rgba(0,0,0,0.8);
    height: 30vh; 
    text-align: center; 
    color: aliceblue; 
}

.texto-pie{
    padding-top: 4vh; 
    font-size: 2vw; 
}

.icon-redes{
    padding-top: 4vh; 
}


h1{
    color:rgba(39, 99, 245, 0.8);
    font-size: 3vw;  
    padding-top: 1vw;
}





.linea-s1{
    display: inline-block;
    padding-top: 5vh;
}

#t1{
    padding-left: 25vw;
}

#t2{
    padding-left: 39vw;
}
*/