<!DOCTYPE html>
<html lang="en">
<head>
   
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Arenques Con Salsa Argridulce</title>

    <link rel="stylesheet" href="../css/recetas.css">
    <link rel="stylesheet" href="../css/index.css">
    <link rel="icon" type="image/x-icon" href="../img/icon/favicon.ico">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap" rel="stylesheet">

</head>

<body id="bodi">
    <header>

        <div id="logo_container">
           <img id="logo" src="../img/icon/blue2.jpg" alt="logo"> 
        </div>

        <div id="titulo_container">
            <h1 id="nombre_pagina">eGOURMET</h1>
        </div>


        <nav id="nav_container">
            <ul>
                <li>
                    <a class="menu" href="../index.html#home">Principal</a>
                </li>
                <li>
                    <a class="menu" href="../index.html#galeria">Galería</a>
                </li>
                <li>
                    <a class="menu" href="../index.html#recetas">Recetas</a>
                </li>
                <li>
                    <a class="menu" href="../index.html#contacto">Contacto</a>
                </li>
            </ul>
        </nav>

    </header>

    <main>

        <section id="recetas">
            <h1 id="receta">Arenques Con Salsa Argridulce</h1>

        <h4>Ingredientes</h4>
        <ul>
            <li>200 gr arenque marinado</li>
            <li>1 pepinillo agridulce</li>
            <li>Unos granos de pimienta verde de frasco</li>
            <li>1 cuarto cebolla roja</li>
            <li>1 cucharadita pequeña de mostaza Dijon</li>
            <li>1 aguacate</li>
            <li>1 chorrito salsa inglesa (Perrins)</li>
            <li>Unas gota de Tabasco</li>
            <li>1 pizca sal</li> 
            <li>Unas gotas de limón</li>
        </ul>

        <div>
            <h4>Pasos</h4>
            <ol id="pasos">
                <li>Escurrir el arenque y picarlo fino. Reservar en un bol.</li>
                <li>Picar muy fino la cebolla y el pepinillo. Los granos de pimienta picar lo más pequeño posible. Echar junto al arenque.</li>
                <li>Machacar el aguacate no demasiado fino. Que no quede tipo puré. Juntar al resto e introducir la mostaza las salsas y la sal y las gotas de limón.</li>
                <li>Mezclar todo bien con cuidado y dejar reposar al menos 20 minutos.</li>
            </ol>

        </div>

        </section>

    </main>

    <section>
        <footer>

            <div id="legales">
                <p>© Copyright 2023. Todos los derechos reservados.</p>
            </div>

            <div id="redes">
                <p>Seguinos</p>
                <ul>
                    <li>
                        <a href="https://es-la.facebook.com/" target="_blank">
                            <div id="face"></div>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/" target="_blank">
                            <div id="inst"></div>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.whatsapp.com/?lang=es" target="_blank">
                            <div id="what"></div>
                        </a>
                    </li>
                </ul>
            </div>

            <div id="powered">
                <p></p>
                <a href="">CODO/Grupo 4</a>
            </div>
        </footer>
    </section>





</body>
</html>