<!DOCTYPE html>
<html lang="en">
<head>
   
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Brochetes Con Queso</title>

    <link rel="stylesheet" href="../css/recetas.css">
    <link rel="stylesheet" href="../css/index.css">
    <link rel="icon" type="image/x-icon" href="../img/icon/favicon.ico">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap" rel="stylesheet">

</head>

<body id="bodi">
    <header>

        <div id="logo_container">
           <img id="logo" src="../img/icon/blue2.jpg" alt="logo"> 
        </div>

        <div id="titulo_container">
            <h1 id="nombre_pagina">eGOURMET</h1>
        </div>


        <nav id="nav_container">
            <ul>
                <li>
                    <a class="menu" href="../index.html#home">Principal</a>
                </li>
                <li>
                    <a class="menu" href="../index.html#galeria">Galería</a>
                </li>
                <li>
                    <a class="menu" href="../index.html#recetas">Recetas</a>
                </li>
                <li>
                    <a class="menu" href="../index.html#contacto">Contacto</a>
                </li>
            </ul>
        </nav>

    </header>

    <main>

        <section id="recetas">
            <h1 id="receta">Brochetes Con Queso</h1>

        <h4>Ingredientes</h4>
        <ul>
            <h5>Ingredientes para 8 personas:</h5>
            <li>200 g de queso cheddar</li>
            <li>200 g de queso roquefort</li>
            <li>200 g de queso comté</li>
            <li>11 huevos</li>
            <li>100 g de pan molido</li>
            <li>8 papas</li>
            <li>100 g de mozzarella rallada</li>
            <li>150 ml de crema reducida en grasa</li>
            <li>20 g de tocino</li> 
            <li>1 baguette de pan</li>
            <li>30 g de mantequilla</ul>
            <li>1 diente de ajo</li>
            <li>aceite vegetal</li>
            <li>perejil</li>
            <li>sal y pimienta</li>
        </ul>

        <div>
            <h4>Pasos</h4>
            <ol id="pasos">
                <li>Apila los 4 quesos para formar una torre e inserta las 12 brochetas en ellos. Corta la torre entre cada espiga para formar 12 brochetas de queso. Sumerja las brochetas en 3 huevos batidos y luego en el pan rallado. Coloca en el refrigerador.</li>
                <li>Cocine las papas durante 20 minutos en agua con sal, luego sumérjalas en agua fría. Cortar la parte superior de las papas y luego ahuecarlas sin dañarlas. Mezcle la pulpa extraída con la mozzarella rallada y luego extiéndala en el molde redondo.</li>
                <li>Coloque las papas ahuecadas en posición vertical encima, con el lado abierto hacia arriba. Repartir la crema, el tocino, luego añada los huevos. Sazone con sal y pimienta y espolvoree perejil picado.</li>
                <li>Mezcle la mantequilla derretida con el ajo y el perejil picado. Cortar la baguette en rodajas finas y untar la mantequilla de ajo. Coloca las rodajas en el molde entre las papas. Hornea durante 20 minutos a 180 ° C. Fríe las brochetas de queso y disfrútalas sumergiéndolas en los huevos.</li>
            </ol>

        </div>

        </section>

    </main>

    <section>
        <footer>

            <div id="legales">
                <p>© Copyright 2023. Todos los derechos reservados.</p>
            </div>

            <div id="redes">
                <p>Seguinos</p>
                <ul>
                    <li>
                        <a href="https://es-la.facebook.com/" target="_blank">
                            <div id="face"></div>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/" target="_blank">
                            <div id="inst"></div>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.whatsapp.com/?lang=es" target="_blank">
                            <div id="what"></div>
                        </a>
                    </li>
                </ul>
            </div>

            <div id="powered">
                <p></p>
                <a href="">CODO/Grupo 4</a>
            </div>
        </footer>
    </section>





</body>
</html>