<!DOCTYPE html>
<html lang="en">
<head>
   
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ensalada de Garbanzos</title>

    <link rel="stylesheet" href="../css/recetas.css">
    <link rel="stylesheet" href="../css/index.css">
    <link rel="icon" type="image/x-icon" href="../img/icon/favicon.ico">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap" rel="stylesheet">

</head>

<body id="bodi">
    <header>

        <div id="logo_container">
           <img id="logo" src="../img/icon/blue2.jpg" alt="logo"> 
        </div>

        <div id="titulo_container">
            <h1 id="nombre_pagina">eGOURMET</h1>
        </div>


        <nav id="nav_container">
            <ul>
                <li>
                    <a class="menu" href="../index.html#home">Principal</a>
                </li>
                <li>
                    <a class="menu" href="../index.html#galeria">Galería</a>
                </li>
                <li>
                    <a class="menu" href="../index.html#recetas">Recetas</a>
                </li>
                <li>
                    <a class="menu" href="../index.html#contacto">Contacto</a>
                </li>
            </ul>
        </nav>

    </header>

    <main>

        <section id="recetas">
            <h1 id="receta">Ensalada de Garbanzos</h1>

        <h4>Ingredientes</h4>
        <ul>
            <h5>Para la ensalada</h5>
            <li>2 tazas garbanzo cocido o (20 oz, 581 g garbanzo en lata)</li>
            <li>1/2 pimentón rojo o verde</li>
            <li>2 tomates grandes o cherry (12)</li>
            <li>1 pepino mediano cohombro (cucumber)</li>
            <li>1/2 cebolla cabezona roja o blanca</li>
            <li>Perejil</li>
            <li>1/3 queso feta o panela en trocitos (opcional)</li>
            <h5>Para la vinagreta</h5>
            <li>1 limón amarillo (jugo) o de 1/2 naranja</li>
            <li>1/3 taza aceite de oliva</li> 
            <li>1/4 cdta red pepper flakes o más (opcional)</li>
            <li>sal y pimienta al gusto</li>
        </ul>

        <div>
            <h4>Pasos</h4>
            <ol id="pasos">
                <h5>Ensalada</h5>
                <li>Lavar bien los vegetales y el perejil.</li>
                <li>Retirar la piel del pepino y cortar en cuadros al igual que la cebolla, el pimentón y los tomates. Si usa tomates cherry, cortarlos a la mitad.</li>
                <li>Picar finamente el perejil.</li>
                <li>Poner los garbanzos en un recipiente amplio.</li>
                <li>Agregar los vegetales cortados, mezclar.</li>
                <li>Incorporar el perejil y el queso.</li>
                <h5>Vinagreta</h5>
                <li>Poner todos los ingredientes para la vinagreta en un recipiente.</li>
                <li>Mezclar muy bien con ayuda de un batidor pequeño de mano o un tenedor.</li>
                <li>Agregar la vinagreta a la ensalada, mezclar todo con cuidado de no romper el queso o agregarlo al momento de servir.</li>
                <li>Verificar sabor. Servir como entrada o acompañante.</li>
                <li>Nota:Si la ensalada no va a ser consumida en el momento, recomiendo que se agregue el queso al final cuando se vaya a llevar a la mesa para servir. Esto con el fin de que no se deshaga y que no quede la ensalada con un color lechoso, nada agradable visualmente.</li>
            </ol>

        </div>

        </section>

    </main>

    <section>
        <footer>

            <div id="legales">
                <p>© Copyright 2023. Todos los derechos reservados.</p>
            </div>

            <div id="redes">
                <p>Seguinos</p>
                <ul>
                    <li>
                        <a href="https://es-la.facebook.com/" target="_blank">
                            <div id="face"></div>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/" target="_blank">
                            <div id="inst"></div>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.whatsapp.com/?lang=es" target="_blank">
                            <div id="what"></div>
                        </a>
                    </li>
                </ul>
            </div>

            <div id="powered">
                <p></p>
                <a href="">CODO/Grupo 4</a>
            </div>
        </footer>
    </section>





</body>
</html>