<!DOCTYPE html>
<html lang="en">
<head>
   
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ensaladas Saludables</title>

    <link rel="stylesheet" href="../css/recetas.css">
    <link rel="stylesheet" href="../css/index.css">
    <link rel="icon" type="image/x-icon" href="../img/icon/favicon.ico">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap" rel="stylesheet">

</head>

<body id="bodi">
    <header>

        <div id="logo_container">
           <img id="logo" src="../img/icon/blue2.jpg" alt="logo"> 
        </div>

        <div id="titulo_container">
            <h1 id="nombre_pagina">eGOURMET</h1>
        </div>


        <nav id="nav_container">
            <ul>
                <li>
                    <a class="menu" href="../index.html#home">Principal</a>
                </li>
                <li>
                    <a class="menu" href="../index.html#galeria">Galería</a>
                </li>
                <li>
                    <a class="menu" href="../index.html#recetas">Recetas</a>
                </li>
                <li>
                    <a class="menu" href="../index.html#contacto">Contacto</a>
                </li>
            </ul>
        </nav>

    </header>

    <main>

        <section id="recetas">
            <h1 id="receta">Ensaladas Saludables</h1>

        <h4>Ingredientes</h4>
        <ul>
            <h5>Green goddess salad</h5>
            <li>1/4 de col  finamente picada</li>
            <li>1/2 pepino sin semillas cortado en cubitos</li>
            <li>1 tallo finamente picado de cebollita de cambray</li>
            <h5>Para el aderezo</h5>
            <li>1 taza de espinaca tierna.</li>
            <li>1/2 taza de albahaca fresca.</li>
            <li>1/2 taza de nueces de la India.</li>
            <li>3 cucharadas de jugo de limón verde.</li>
            <li>1 cebollita de cambray.</li>
            <li>1 cucharada de aceite de oliva.</li>
            <li>1 cucharada de Hellmann's Light®.</li>
            <li>1/2 cucharadita de pimienta blanca recién molida.</li>
        </ul>

        <div>
            <h4>Pasos</h4>
            <ol id="pasos">
                <h5>Ensalada</h5>
                <li>En un bowl grande mezclar la col finamente troceada, el pepino en cubitos y el tallo de cebollita de cambray en rodajas. Reservar.</li>
                <h5>Aderezo</h5>
                <li>Agrega en la licuadora la espinaca, albahaca, nuez de la india, el jugo de los limones, la cebollita de cambray, el aceite de oliva y la mayonesa Hellmann’s® Light. Comienza a moler poco a poco, de ser necesario agrega agua para facilitar el trabajo de la licuadora. La mezcla debe quedar ligeramente espesa y homogénea.</li>
                <li>Incorpora el aderezo a la mezcla de verduras y sazona con un poco de pimienta.</li>
                <li>Disfruta con tostadas de maíz o papas gajo horneadas.</li>
            </ol>

        </div>

        </section>

    </main>

    <section>
        <footer>

            <div id="legales">
                <p>© Copyright 2023. Todos los derechos reservados.</p>
            </div>

            <div id="redes">
                <p>Seguinos</p>
                <ul>
                    <li>
                        <a href="https://es-la.facebook.com/" target="_blank">
                            <div id="face"></div>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/" target="_blank">
                            <div id="inst"></div>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.whatsapp.com/?lang=es" target="_blank">
                            <div id="what"></div>
                        </a>
                    </li>
                </ul>
            </div>

            <div id="powered">
                <p></p>
                <a href="">CODO/Grupo 4</a>
            </div>
        </footer>
    </section>





</body>
</html>