<!DOCTYPE html>
<html lang="en">
<head>
   
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fettuccine con Parmesano</title>

    <link rel="stylesheet" href="../css/recetas.css">
    <link rel="stylesheet" href="../css/index.css">
    <link rel="icon" type="image/x-icon" href="../img/icon/favicon.ico">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap" rel="stylesheet">

</head>

<body id="bodi">
    <header>

        <div id="logo_container">
           <img id="logo" src="../img/icon/blue2.jpg" alt="logo"> 
        </div>

        <div id="titulo_container">
            <h1 id="nombre_pagina">eGOURMET</h1>
        </div>


        <nav id="nav_container">
            <ul>
                <li>
                    <a class="menu" href="../index.html#home">Principal</a>
                </li>
                <li>
                    <a class="menu" href="../index.html#galeria">Galería</a>
                </li>
                <li>
                    <a class="menu" href="../index.html#recetas">Recetas</a>
                </li>
                <li>
                    <a class="menu" href="../index.html#contacto">Contacto</a>
                </li>
            </ul>
        </nav>

    </header>

    <main>

        <section id="recetas">
            <h1 id="receta">Fettuccine con Parmesano</h1>

        <h4>Ingredientes</h4>
        <ul>
            <li>2 Cucharadas Cebolla picada</li>
            <li>2 Cucharadas Harina de trigo</li>
            <li>2 Cucharadas Mantequilla</li>
            <li>1 Lata Leche Evaporada</li>
            <li>1 Lata Media Crema de leche</li>
            <li>2 Paquetes Pasta tagliatelle cocida y escurrida (200g c/u)</li>
            <li>1 Cucharada Consomé de pollo en polvo</li>
            <li>2 Tazas Agua</li>
            <li>1/2 Taza *Queso parmesano</li> 
        </ul>

        <div>
            <h4>Pasos</h4>
            <ol id="pasos">
                <li>Calienta la mantequilla, sofríe la cebolla, agrega la harina y cocina hasta obtener un color dorado y claro; reserva.</li>
                <li>Licúa la Leche Evaporada CARNATION® CLAVEL® con la cebolla, el agua, el queso parmesano y el consomé de pollo. Cuela y cocina a fuego bajo por 10 minutos o hasta que espese ligeramente. Agrega la Media Crema de leche, mezcla y retira del fuego.</li>
                <li>Baña la pasta con la salsa de queso parmesano y sirve.</li>
            </ol>

        </div>

        </section>

    </main>

    <section>
        <footer>

            <div id="legales">
                <p>© Copyright 2023. Todos los derechos reservados.</p>
            </div>

            <div id="redes">
                <p>Seguinos</p>
                <ul>
                    <li>
                        <a href="https://es-la.facebook.com/" target="_blank">
                            <div id="face"></div>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/" target="_blank">
                            <div id="inst"></div>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.whatsapp.com/?lang=es" target="_blank">
                            <div id="what"></div>
                        </a>
                    </li>
                </ul>
            </div>

            <div id="powered">
                <p></p>
                <a href="">CODO/Grupo 4</a>
            </div>
        </footer>
    </section>





</body>
</html>