<!DOCTYPE html>
<html lang="en">
<head>
   
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lemon Pie</title>

    <link rel="stylesheet" href="../css/recetas.css">
    <link rel="stylesheet" href="../css/index.css">
    <link rel="icon" type="image/x-icon" href="../img/icon/favicon.ico">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap" rel="stylesheet">

</head>

<body id="bodi">
    <header>

        <div id="logo_container">
           <img id="logo" src="../img/icon/blue2.jpg" alt="logo"> 
        </div>

        <div id="titulo_container">
            <h1 id="nombre_pagina">eGOURMET</h1>
        </div>


        <nav id="nav_container">
            <ul>
                <li>
                    <a class="menu" href="../index.html#home">Principal</a>
                </li>
                <li>
                    <a class="menu" href="../index.html#galeria">Galería</a>
                </li>
                <li>
                    <a class="menu" href="../index.html#recetas">Recetas</a>
                </li>
                <li>
                    <a class="menu" href="../index.html#contacto">Contacto</a>
                </li>
            </ul>
        </nav>

    </header>

    <main>

        <section id="recetas">
            <h1 id="receta">Lemon Pie</h1>

        <h4>Ingredientes</h4>
        <ul>
            <li>Harina 0000 300 g</li>
            <li>Manteca 200 g</li>
            <li>Azúcar 100 g</li>
            <li>Yema 1 unidad</li>
            <li>Sal fina C/N</li>
            <h5>Para el relleno</h5>
            <li>Yemas 4 unidades</li>
            <li>Leche 1/2 L</li>
            <li>Jugo de limón 200 cc</li>
            <li>Azúcar 200 g</li>
            <li>Almidón de maíz 60 g</li> 
            <li>Manteca 1 cda</li>
            <li>Ralladura de limón</li>
            <h5>Para el merengue</h5>
            <li>Claras 4 unid</li>
            <li>Azúcar 220 g</li>
            <li>Agua 75 cc</li>
        </ul>

        <div>
            <h4>Pasos</h4>
            <ol id="pasos">
                <li>Batir la manteca pomada con el azúcar (podés usar azúcar mascabo).</li>
                <li>Agregar la yema y la esencia de vainilla. Una vez que esté bien emulsionado agregar la harina.</li>
                <li>Unir rápidamente y llevar a frío.</li>
                <li>Estirar la masa y fonsar un molde desmontable.</li>
                <h5>Cocinar la masa:</h5>
                <li>Colocar sobre el molde un papel film que cubra la totalidad de la masa, poniendo un un peso encima (puede ser porotos, garbanzos, etc).</li>
                <li>Cocinar pinchada con tenedor por 15 minutos a horno moderado, hasta que esté cocida totalmente.</li>
                <h5>Hacer la crema:</h5>
                <li>En una olla calentar la leche con la mitad del azúcar. Por otro lado, mezclar en un bowl el resto del azúcar con el almidón de maíz.</li>
                <li>Mezclar bien e incorporar las yemas, el jugo y la ralladura de limón. Una vez mezclado agregar la leche caliente y llevar a cocinar todo junto revolviendo siempre.</li>
                <li>Cocinar hasta que hierva por un minuto y retirar del fuego. Agregar la manteca y tapar con un film en contacto.</li>
                <li>Una vez que se enfríe la crema de limón, cubrir la masa de tarta.</li>
                <h5>Hacer el merengue:</h5>
                <li>Para hacer un merengue italiano colocar en un bowl las claras y batirlas a punto nieve.</li>
                <li>Por otro lado, se prepara el almíbar, para esto se debe llevar agua y azúcar a una olla a fuego fuerte hasta que el azúcar se funda formándose un almíbar espeso.</li>
                <li>Agregar este almíbar a las claras mientras se van batiendo por unos 7 minutos. Luego colocar un papel film en contacto.</li>
                <h5>Armar el lemon pie:</h5>
                <li>Cuando se lleva el relleno a la masa, es conveniente colocar una base de almendras trituradas para evitar que el merengue se deslice.</li>

            </ol>

        </div>

        </section>

    </main>

    <section>
        <footer>

            <div id="legales">
                <p>© Copyright 2023. Todos los derechos reservados.</p>
            </div>

            <div id="redes">
                <p>Seguinos</p>
                <ul>
                    <li>
                        <a href="https://es-la.facebook.com/" target="_blank">
                            <div id="face"></div>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/" target="_blank">
                            <div id="inst"></div>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.whatsapp.com/?lang=es" target="_blank">
                            <div id="what"></div>
                        </a>
                    </li>
                </ul>
            </div>

            <div id="powered">
                <p></p>
                <a href="">CODO/Grupo 4</a>
            </div>
        </footer>
    </section>





</body>
</html>