<!DOCTYPE html>
<html lang="en">
<head>
   
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nuggets de Pollo</title>

    <link rel="stylesheet" href="../css/recetas.css">
    <link rel="stylesheet" href="../css/index.css">
    <link rel="icon" type="image/x-icon" href="../img/icon/favicon.ico">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap" rel="stylesheet">

</head>

<body id="bodi">
    <header>

        <div id="logo_container">
           <img id="logo" src="../img/icon/blue2.jpg" alt="logo"> 
        </div>

        <div id="titulo_container">
            <h1 id="nombre_pagina">eGOURMET</h1>
        </div>


        <nav id="nav_container">
            <ul>
                <li>
                    <a class="menu" href="../index.html#home">Principal</a>
                </li>
                <li>
                    <a class="menu" href="../index.html#galeria">Galería</a>
                </li>
                <li>
                    <a class="menu" href="../index.html#recetas">Recetas</a>
                </li>
                <li>
                    <a class="menu" href="../index.html#contacto">Contacto</a>
                </li>
            </ul>
        </nav>

    </header>

    <main>

        <section id="recetas">
            <h1 id="receta">Nuggets de Pollo</h1>

        <h4>Ingredientes</h4>
        <ul>
            <li>1 pechuga de pollo</li>
            <li>1 cda. panzona de queso crema</li>
            <li>2 rodajas de pan de molde</li>
            <li>1 vaso de leche</li>
            <li>Harina cant. nec.</li>
            <li>Pan rallado cant. nec.</li>
            <li>Sal y pimienta</li>
            <li>1 huevo</li>
            <li>Aceite para freír (si los hacés fritos)</li> 
        </ul>

        <div>
            <h4>Pasos</h4>
            <ol id="pasos">
                <li>Colocar las rodajas de pan de molde en la leche. Yo utilicé un pan casero (que me había quedado muy salado…) pero puede ser el pan comprado o cualquier pan blando.</li>
                <li>Quitar al pollo la grasa, las tiritas blancas y cualquier indeseable. Colocar el pollo en la procesadora y procesar hasta que esté hecho una pasta que será la base del relleno de nuestros nuggets de pollo.</li>
                <li>Agregar al pollo en la procesadora el queso crema, los panes remojados en leche escurridos, sal y pimienta. Volver a procesar. Nos quedará una pasta más consistente.</li>
                <li>Formar con esta pasta los nuggets de pollo: primero bolitas. El secreto para que las bolitas no se queden pegadas en las manos es tener las manos levemente mojadas con agua. Luego pasamos estas bolitas por harina y las aplastamos, quedando la forma de los nuggets. ¡Attenti! para este paso es al revés: te secás las manos porque sino se te pega todo.</li>
                <li> Pasar los nuggets de pollo por huevo y luego por pan rallado. Da igual como tenés las manos, ya es un desastre. La forma que yo les doy, simplemente aplasto un poco las bolitas. Si la masa está bien hecha es muy fácil darle la forma que quieras.</li>
                <li>Freír en aceite bien caliente hasta que estén doradas de ambos lados. También pueden hacerse al horno, con un poco de aceite debajo.</li>
            </ol>

        </div>

        </section>

    </main>

    <section>
        <footer>

            <div id="legales">
                <p>© Copyright 2023. Todos los derechos reservados.</p>
            </div>

            <div id="redes">
                <p>Seguinos</p>
                <ul>
                    <li>
                        <a href="https://es-la.facebook.com/" target="_blank">
                            <div id="face"></div>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/" target="_blank">
                            <div id="inst"></div>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.whatsapp.com/?lang=es" target="_blank">
                            <div id="what"></div>
                        </a>
                    </li>
                </ul>
            </div>

            <div id="powered">
                <p></p>
                <a href="">CODO/Grupo 4</a>
            </div>
        </footer>
    </section>





</body>
</html>