<!DOCTYPE html>
<html lang="en">
<head>
   
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pastas con salsa Alfredo</title>

    <link rel="stylesheet" href="../css/recetas.css">
    <link rel="stylesheet" href="../css/index.css">
    <link rel="icon" type="image/x-icon" href="../img/icon/favicon.ico">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap" rel="stylesheet">

</head>

<body id="bodi">
    <header>

        <div id="logo_container">
           <img id="logo" src="../img/icon/blue2.jpg" alt="logo"> 
        </div>

        <div id="titulo_container">
            <h1 id="nombre_pagina">eGOURMET</h1>
        </div>


        <nav id="nav_container">
            <ul>
                <li>
                    <a class="menu" href="../index.html#home">Principal</a>
                </li>
                <li>
                    <a class="menu" href="../index.html#galeria">Galería</a>
                </li>
                <li>
                    <a class="menu" href="../index.html#recetas">Recetas</a>
                </li>
                <li>
                    <a class="menu" href="../index.html#contacto">Contacto</a>
                </li>
            </ul>
        </nav>

    </header>

    <main>

        <section id="recetas">
            <h1 id="receta">Pastas con salsa Alfredo</h1>

        <h4>Ingredientes</h4>
        <ul>
            <li>(454 g.) 1 libra de espaguetis crudos</li>
            <li>Abundante agua</li>
            <li>(290 g.) 1 lata de Crema de Leche</li>
            <li>(60 g.) ½ barra de mantequilla</li>
            <li>(100 g.) 1 taza de queso parmesano rallado</li>
            <li>(2 g.) 1 cucharadita de ajo en polvo</li>
            <li>Perejil al gusto</li>
            <li>Sal y Pimienta al gusto</li>
            <li>(120 g.) ¾ taza de tocino cocido cortado finamente</li>
        </ul>

        <div>
            <h4>Pasos</h4>
            <ol id="pasos">
                <li>En una cacerola a fuego alto, calentar el agua hasta que hierva.</li>
                <li>Colocar la pasta y cocinar por 7 minutos o hasta que esté al dente. Retirar del agua y reservar.</li>
                <li> En una cacerola a fuego medio, colocar la mantequilla, la Crema de Leche Nestlé® y cocinar hasta que se integre totalmente y espese un poco.</li>
                <li>Agregar el queso parmesano, el ajo en polvo y revolver hasta integrar totalmente y reduzca.</li>
                <li> Servir y disfrutar.</li>
            </ol>

        </div>

        </section>

    </main>

    <section>
        <footer>

            <div id="legales">
                <p>© Copyright 2023. Todos los derechos reservados.</p>
            </div>

            <div id="redes">
                <p>Seguinos</p>
                <ul>
                    <li>
                        <a href="https://es-la.facebook.com/" target="_blank">
                            <div id="face"></div>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/" target="_blank">
                            <div id="inst"></div>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.whatsapp.com/?lang=es" target="_blank">
                            <div id="what"></div>
                        </a>
                    </li>
                </ul>
            </div>

            <div id="powered">
                <p></p>
                <a href="">CODO/Grupo 4</a>
            </div>
        </footer>
    </section>





</body>
</html>