<!DOCTYPE html>
<html lang="en">
<head>
   
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pizza</title>

    <link rel="stylesheet" href="../css/recetas.css">
    <link rel="stylesheet" href="../css/index.css">
    <link rel="icon" type="image/x-icon" href="../img/icon/favicon.ico">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap" rel="stylesheet">

</head>

<body id="bodi">
    <header>

        <div id="logo_container">
           <img id="logo" src="../img/icon/blue2.jpg" alt="logo"> 
        </div>

        <div id="titulo_container">
            <h1 id="nombre_pagina">eGOURMET</h1>
        </div>


        <nav id="nav_container">
            <ul>
                <li>
                    <a class="menu" href="../index.html#home">Principal</a>
                </li>
                <li>
                    <a class="menu" href="../index.html#galeria">Galería</a>
                </li>
                <li>
                    <a class="menu" href="../index.html#recetas">Recetas</a>
                </li>
                <li>
                    <a class="menu" href="../index.html#contacto">Contacto</a>
                </li>
            </ul>
        </nav>

    </header>

    <main>

        <section id="recetas">
            <h1 id="receta">Pizza</h1>

        <h4>Ingredientes</h4>
        <ul>
            <li>1 Kg de harina 0000</li>
            <li>50 g de Levadura Fresca, o 13 g de Levadura Seca</li>
            <li>50 cc de Aceite</li>
            <li>600 cc de Agua tibia</li>
            <li>35 g de Sal</li>
            <li>1 cdita. de Azucar</li>
            <li>c/n Salsa o puré de Tomates</li>
        </ul>

        <div>
            <h4>Pasos</h4>
            <ol id="pasos">
                <li>En un recipiente colocar la levadura fresca y desmenuzarla un poco o con las manos o directamente la levadura seca, agregarle 4 cucharadas del harina de la receta junto con la cucharadita de azúcar y 100cc (1/2 vaso) de agua tibia y mezclar muy bien hasta unir todo (tiene que quedar una consistencia ni muy espesa ni muy líquida) tapar y dejar reposar por unos 10' para activar la levadura.</li>
                <li>En otro recipiente amplio colocar el harina formando una corona y añadir alrededor la sal (esto es para que no tome contacto directo con la levadura porque la "mata") y en el centro colocar la levadura ya activada y el aceite.</li>
                <li>Incorporar el agua tibia de a poco e ir uniendo ingredientes desde desde centro hasta lograr una masa chiclosa (se tiene que pegar un poco en las manos) si no te gusta esta textura para trabajarla agrega menos agua (con 450 a 500cc andarás bien. Todo depende como te guste el resultado final de una masa, más compacta o más aireada) Amasar con ganas por unos 20' aprox. Recordá que mientras más amases mejor miga desarrollarás para tu pizza.</li>
                <li>Una vez finalizado el amasado formar un bollo y untarlo con un poco de aceite tapar y dejar reposar por 40 a 50 minutos. Hasta que triplique su volumen.</li>
                <li>Pasado el tiempo de leudado desgasificar la masa (aplastarla con las manos y sacar el gas que produce la levadura) y dividir en 4 bollos (si elegiste hacer la masa más humeda te recomiendo este paso hacerlo untando las manos en aceite para evitar que se te pegotee) Para la cocción: aceitar una pizzera y estirar el bollo de masa desde el centro hacia los bordes y pincelar con salsa o puré de tomates. Llevar a horno fuerte (200 a 250°) por 10'.</li>
                <li>Una vez hayas escogido los ingredientes y tengas tu masa de pizza casera terminada, deberás precalentar el horno a temperatura máxima durante unos 20 minutos.</li>
                <li>Pasado el tiempo, introduce la preparación pizza casera y hornéala durante 10 minutos aproximadamente. Deberás vigilarla porque el tiempo final variará en función del tipo de horno y la intensidad que tenga</li>
                <li>Listo, tu pizza casera al horno estará a punto.</li>
            </ol>

        </div>

        </section>

    </main>

    <section>
        <footer>

            <div id="legales">
                <p>© Copyright 2023. Todos los derechos reservados.</p>
            </div>

            <div id="redes">
                <p>Seguinos</p>
                <ul>
                    <li>
                        <a href="https://es-la.facebook.com/" target="_blank">
                            <div id="face"></div>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/" target="_blank">
                            <div id="inst"></div>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.whatsapp.com/?lang=es" target="_blank">
                            <div id="what"></div>
                        </a>
                    </li>
                </ul>
            </div>

            <div id="powered">
                <p></p>
                <a href="">CODO/Grupo 4</a>
            </div>
        </footer>
    </section>





</body>
</html>