<!DOCTYPE html>
<html lang="en">
<head>
   
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rissoto</title>

    <link rel="stylesheet" href="../css/recetas.css">
    <link rel="stylesheet" href="../css/index.css">
    <link rel="icon" type="image/x-icon" href="../img/icon/favicon.ico">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap" rel="stylesheet">

</head>

<body id="bodi">
    <header>

        <div id="logo_container">
           <img id="logo" src="../img/icon/blue2.jpg" alt="logo"> 
        </div>

        <div id="titulo_container">
            <h1 id="nombre_pagina">eGOURMET</h1>
        </div>


        <nav id="nav_container">
            <ul>
                <li>
                    <a class="menu" href="../index.html#home">Principal</a>
                </li>
                <li>
                    <a class="menu" href="../index.html#galeria">Galería</a>
                </li>
                <li>
                    <a class="menu" href="../index.html#recetas">Recetas</a>
                </li>
                <li>
                    <a class="menu" href="../index.html#contacto">Contacto</a>
                </li>
            </ul>
        </nav>

    </header>

    <main>

        <section id="recetas">
            <h1 id="receta">Rissoto</h1>

        <h4>Ingredientes</h4>
        <ul>
            <li>5 hongos portobello grandes</li>
            <li>1 cebolla</li>
            <li>1/2 vaso de vino</li>
            <li>100g. manteca</li>
            <li>1 chorro aceite</li>
            <li>1 taza de arroz carnaroli</li>
            <li>caldo cant. nec.</li>
            <li>cebolla de verdeo</li>
        </ul>

        <div>
            <h4>Pasos</h4>
            <ol id="pasos">
                <li>La base de todo buen risotto es sin dudas el caldo. Así que lo primero que tenemos que tener listo es el caldo. Pueden hacerlo casero, de cajita o hacerlo con mis calditos caseros que siempre quedan genial. Es muy importante mantener el caldo cerca y a fuego mínimo. Y es preferible que sobre, porque si falta…..no la contamos…</li>
                <li>Ahora vamos a cortar los vegetales: picar bien pequeña la cebolla, cortar los hongos en rodajas y picar la cebolla de verdeo.</li>
                <li>En una olla vamos a colocar la manteca y el aceite, y vamos a cocinar la cebolla a fuego suave hasta que esté transparente, le ponemos un poco de sal para que largue líquido y quede bien cocida.</li>
                <li>Vamos a agregar los hongos, revolver y tapar. Lo dejamos apenas unos minutos para que se dore sin que se cocine de más. Subir bien fuerte el fuego y colocar vaso de vino. Dejar hasta que se evapore el alcohol (es decir, cuando ya no haya olor a alcohol).</li>
                <li>Ahora si agregamos el arroz y movemos bien hasta que quede brillante y bien embebido en manteca, aceite y vino, sin tostarse!.</li>
                <li>A continuación vamos a repetir los siguientes 3 pasos hasta que el arroz esté al dente: 1-Agregar caldo (aprox. un cucharón mediano); 2-Revolver un poco; 3-Esperar a que absorba. El arroz de risotto siempre tiene que estar húmedo, con líquido pero no hundido en caldo, ni seco del todo.</li>
                <li>Cuando el arroz esté al dente, lo sacamos, le agregamos un poco de manteca, y batimos enérgicamente para integrar todo. Eso va a ser que nuestro risotto quede muchísimo más cremoso.</li>
            </ol>

        </div>

        </section>

    </main>

    <section>
        <footer>

            <div id="legales">
                <p>© Copyright 2023. Todos los derechos reservados.</p>
            </div>

            <div id="redes">
                <p>Seguinos</p>
                <ul>
                    <li>
                        <a href="https://es-la.facebook.com/" target="_blank">
                            <div id="face"></div>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/" target="_blank">
                            <div id="inst"></div>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.whatsapp.com/?lang=es" target="_blank">
                            <div id="what"></div>
                        </a>
                    </li>
                </ul>
            </div>

            <div id="powered">
                <p></p>
                <a href="">CODO/Grupo 4</a>
            </div>
        </footer>
    </section>





</body>
</html>