<!DOCTYPE html>
<html lang="en">
<head>
   
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sashimi</title>

    <link rel="stylesheet" href="../css/recetas.css">
    <link rel="stylesheet" href="../css/index.css">
    <link rel="icon" type="image/x-icon" href="../img/icon/favicon.ico">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap" rel="stylesheet">

</head>

<body id="bodi">
    <header>

        <div id="logo_container">
           <img id="logo" src="../img/icon/blue2.jpg" alt="logo"> 
        </div>

        <div id="titulo_container">
            <h1 id="nombre_pagina">eGOURMET</h1>
        </div>


        <nav id="nav_container">
            <ul>
                <li>
                    <a class="menu" href="../index.html#home">Principal</a>
                </li>
                <li>
                    <a class="menu" href="../index.html#galeria">Galería</a>
                </li>
                <li>
                    <a class="menu" href="../index.html#recetas">Recetas</a>
                </li>
                <li>
                    <a class="menu" href="../index.html#contacto">Contacto</a>
                </li>
            </ul>
        </nav>

    </header>

    <main>

        <section id="recetas">
            <h1 id="receta">Sashimi</h1>

        <h4>Ingredientes</h4>
        <ul>
            <h5>Para 2 personas</h5>
            <li>Salmón fresco 150 g</li>
            <li>Salsa de soja</li>
            <li>Wasabi</li>
            <li>Jengibre encurtido</li>
        </ul>

        <div>
            <h4>Pasos</h4>
            <ol id="pasos">
                <li>La técnica del sashimi consiste en cortar trozos de pescado en porciones de tamaño bocado que los comensales puedan degustar introduciéndoselas en la boca con los palillos de una vez. Estas porciones suelen tener forma más o menos rectangular o alargada y se pueden tomar solas o aliñadas con alguna salsa como la salsa de soja.</li>
                <li>Para hacer sashimi, al ser una preparación basada en el pescado en crudo, es fundamental comprar el mejor pescado que podamos permitirnos y es recomendable pasarlo por el congelador para evitar los riesgos alimentarios como el anisakis ya que no vamos a cocinarlo sino simplemente cortarlo antes de comerlo.</li>
                <li>Tras retirar la piel del salmón, colocamos el taco o lingote de pescado sobre la tabla y nos preparamos para hacer los distintos cortes para laminar el pescado en porciones fáciles de comer.</li>
                <li>Corta el pescado en dirección contraria a la veta, en porciones de 3-4 milímetros de grosor, algo menos de medio centímetro, para que sean de un tamaño cómodo para comer de un bocado.</li>
                <li>Al cortarlas, ve acomodando cada porción sobre la anterior, acaballando una sobre otra ligeramente.</li>
                <li>Acompañar el sashimi con un poco de salsa de soja o una pizca de wasabi y de jengibre encurtido.</li>
            </ol>

        </div>

        </section>

    </main>

    <section>
        <footer>

            <div id="legales">
                <p>© Copyright 2023. Todos los derechos reservados.</p>
            </div>

            <div id="redes">
                <p>Seguinos</p>
                <ul>
                    <li>
                        <a href="https://es-la.facebook.com/" target="_blank">
                            <div id="face"></div>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/" target="_blank">
                            <div id="inst"></div>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.whatsapp.com/?lang=es" target="_blank">
                            <div id="what"></div>
                        </a>
                    </li>
                </ul>
            </div>

            <div id="powered">
                <p></p>
                <a href="">CODO/Grupo 4</a>
            </div>
        </footer>
    </section>





</body>
</html>