<!DOCTYPE html>
<html lang="en">
<head>
   
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sopa de verduras</title>

    <link rel="stylesheet" href="../css/recetas.css">
    <link rel="stylesheet" href="../css/index.css">
    <link rel="icon" type="image/x-icon" href="../img/icon/favicon.ico">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap" rel="stylesheet">

</head>

<body id="bodi">
    <header>

        <div id="logo_container">
           <img id="logo" src="../img/icon/blue2.jpg" alt="logo"> 
        </div>

        <div id="titulo_container">
            <h1 id="nombre_pagina">eGOURMET</h1>
        </div>


        <nav id="nav_container">
            <ul>
                <li>
                    <a class="menu" href="../index.html#home">Principal</a>
                </li>
                <li>
                    <a class="menu" href="../index.html#galeria">Galería</a>
                </li>
                <li>
                    <a class="menu" href="../index.html#recetas">Recetas</a>
                </li>
                <li>
                    <a class="menu" href="../index.html#contacto">Contacto</a>
                </li>
            </ul>
        </nav>

    </header>

    <main>

        <section id="recetas">
            <h1 id="receta">Sopa de verduras</h1>

        <h4>Ingredientes</h4>
        <ul>
            <li>3 tomates rojos en mitades</li>
            <li>1 trozo pequeño cebolla blanca chica</li>
            <li>1 diente de ajo pelado</li>
            <li>6 tazas de agua purificada</li>
            <li>2 zanahorias peladas y en cubos</li>
            <li>2 calabacitas en cubos</li>
            <li>2 tazas repollo en tiras</li>
            <li>1 chayote pelado y en cubos</li>
            <li>1 taza floretes de coliflor o brócoli</li> 
            <li>Sal y pimienta al gusto</li>
            <li>Cilantro opcional para servir</li>
            <li>Limón opcional para servir</li>
        </ul>

        <div>
            <h4>Pasos</h4>
            <ol id="pasos">
                <li>Corta los vegetales que vas a usar.</li>
                <li>Licua el tomate, cebolla y ajo con 1 taza de agua hasta que tenga consistencia lisa y no queden grumos.</li>
                <li>Puedes calentar un chorrito de aceite en una olla o bien no agregar aceite. Vacía la mezcla de la licuadora y cocina a fuego medio unos minutos, hasta que cambie a un color más oscuro.</li>
                <li>Agrega 5 tazas de agua, la zanahoria, chayote, coliflor y brócoli. Corta las verduras del mismo tamaño para que estén listas al mismo tiempo, revisa el video.</li>
                <li>Sazona al gusto con sal y pimienta.</li>
                <li>Lleva a ebullición a fuego alto. Una vez que hirvió baja a fuego bajo, tapa la olla y cocina 15 minutos.</li>
                <li>Agrega la calabacita, el repollo, tapa la ola y cocina 5 a 7 minutos más o hasta que las verduras estén suaves o como te gustan.</li>
                <li>Sirve al gusto con jugo de limón y un poco de cilantro si lo prefieres.</li>
            </ol>

        </div>

        </section>

    </main>

    <section>
        <footer>

            <div id="legales">
                <p>© Copyright 2023. Todos los derechos reservados.</p>
            </div>

            <div id="redes">
                <p>Seguinos</p>
                <ul>
                    <li>
                        <a href="https://es-la.facebook.com/" target="_blank">
                            <div id="face"></div>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/" target="_blank">
                            <div id="inst"></div>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.whatsapp.com/?lang=es" target="_blank">
                            <div id="what"></div>
                        </a>
                    </li>
                </ul>
            </div>

            <div id="powered">
                <p></p>
                <a href="">CODO/Grupo 4</a>
            </div>
        </footer>
    </section>





</body>
</html>