<!DOCTYPE html>
<html lang="en">
<head>
   
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sorrentinos</title>

    <link rel="stylesheet" href="../css/recetas.css">
    <link rel="stylesheet" href="../css/index.css">
    <link rel="icon" type="image/x-icon" href="../img/icon/favicon.ico">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap" rel="stylesheet">

</head>

<body id="bodi">
    <header>

        <div id="logo_container">
           <img id="logo" src="../img/icon/blue2.jpg" alt="logo"> 
        </div>

        <div id="titulo_container">
            <h1 id="nombre_pagina">eGOURMET</h1>
        </div>


        <nav id="nav_container">
            <ul>
                <li>
                    <a class="menu" href="../index.html#home">Principal</a>
                </li>
                <li>
                    <a class="menu" href="../index.html#galeria">Galería</a>
                </li>
                <li>
                    <a class="menu" href="../index.html#recetas">Recetas</a>
                </li>
                <li>
                    <a class="menu" href="../index.html#contacto">Contacto</a>
                </li>
            </ul>
        </nav>

    </header>

    <main>

        <section id="recetas">
            <h1 id="receta">Sorrentinos</h1>

        <h4>Ingredientes</h4>
        <ul>
            <li>500 g de harina 0000</li>
            <li>1 cucharada postre de sal fina</li>
            <li>150 cc de agua potable</li>
            <li>2 huevos</li>
            <li>2 cucharadas soperas de aceite</li>
            <li>200 g de jamón</li>
            <li>250 g de ricota</li>
            <li>1 diente de ajo</li>
            <li>pimentón ahumado y pimienta</li>
            <li>30 g de nueces</li>

        </ul>

        <div>
            <h4>Pasos</h4>
            <ol id="pasos">
                <li>Para comenzar a preparar este plato, prepara la masa de los sorrentinos. Realiza una corona con la harina en una mesada limpia y en el centro, vuelca los huevos, el agua y el aceite. Puedes utilizar un aceite neutro o bien aceite de oliva, con en este último ten en cuenta que le aportará sabor. También puedes reemplazar una parte o el 100% de la harina por integral. Empieza a integrar los ingredientes líquidos con los secos hasta formar una masa uniforme.</li>
                <li>Tapa el bollo y déjalo descansar unos 20 minutos mientras preparas el relleno de tus sorrentinos caseros.</li>
                <li>Pica el jamón tan pequeño como puedas, si lo cortas muy grande, podría romper la masa. Mézclalo con la ricota, los condimentos, las nueces picadas y el ajo cocido. Para cocinarlo, puedes hervirlo en leche hasta que esté blando o en el microondas en un recipiente apto con un platillo debajo, ya que la leche hierve y puede desbordar.</li>
                <li>Comprueba que el relleno esté sabroso y corrígelo si es necesario. Ten en cuenta que el sabor se perderá un poco al comerlo con la masa, así que intenta que esté algo más fuerte que lo que estás acostumbrado.</li>
                <li>Continúa con la masa de esta preparación, divídela en 4 porciones. Nota: asegúrate de dejar tapadas las partes que no utilizarás para que no se sequen.</li>
                <li>Estíralas con una máquina de pasta hasta el punto 7, debes pasarla unas 2 o 3 veces por cada número desde el 1 hasta el 7. Cuando notes que está muy húmeda, espolvoréala con semolín o harina. Si no tienes esta máquina, puedes estirarla con un rodillo. Para ello, recomendamos que estires un tamaño menor de masa para que sea más sencillo maniobrar.</li>
                <li>Si tienes molde para sorrentinos, cúbrelo con harina.</li>
                <li>Luego, cubre el molde con la masa ayudándote con los dedos para que la misma llegue hasta el fondo del molde.</li>
                <li>Rellena cada sorrentino con la preparación de ricota, jamón y nuez que has preparado anteriormente. Si no tienes molde, espolvorea la mesada y añade la masa. Ubica el relleno con la ayuda de una cuchara, debes dejar 2 dedos de separación entre uno y otro.</li>
                <li>Tapa la masa de los sorrentinos de ricota con otra masa y pasa el rodillo por encima del molde para que se corten los bordes. Si lo haces sin molde, humedece con agua limpia los bordes del relleno y cúbrelos con otra masa. Con ayuda de los dedos, ejerce algo de presión alrededor del relleno para que tome forma de sorrentino. Córtalos con un cuchillo.</li>
                <li>A medida que terminas los sorrentinos de ricota, colócalos en una mesada o tabla con algo de harina mientras preparas el resto. ¡Ya casi está lista la receta de sorrentinos de ricota!</li>
                <li>Cocínalos en abundante agua hirviendo, sin superponerlos para que no se peguen. Tomará aproximadamente unos 7 minutos de cocción, pero puedes comprobarlo antes. El tiempo variará de acuerdo al grosor de la masa.</li>
                <li>Sirve tus sorrentinos caseros con tu salsa preferida. Te recomendamos acompañarlos con una salsa mixta de tomate y crema o junto con una salsa blanca de hongos. ¡Y por supuesto mucho queso rallado!</li>
            </ol>

        </div>

        </section>

    </main>

    <section>
        <footer>

            <div id="legales">
                <p>© Copyright 2023. Todos los derechos reservados.</p>
            </div>

            <div id="redes">
                <p>Seguinos</p>
                <ul>
                    <li>
                        <a href="https://es-la.facebook.com/" target="_blank">
                            <div id="face"></div>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/" target="_blank">
                            <div id="inst"></div>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.whatsapp.com/?lang=es" target="_blank">
                            <div id="what"></div>
                        </a>
                    </li>
                </ul>
            </div>

            <div id="powered">
                <p></p>
                <a href="">CODO/Grupo 4</a>
            </div>
        </footer>
    </section>





</body>
</html>