<!DOCTYPE html>
<html lang="en">
<head>
   
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sorrentinos</title>

    <link rel="stylesheet" href="../css/recetas.css">
    <link rel="stylesheet" href="../css/index.css">
    <link rel="icon" type="image/x-icon" href="../img/icon/favicon.ico">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap" rel="stylesheet">

</head>

<body id="bodi">
    <header>

        <div id="logo_container">
           <img id="logo" src="../img/icon/blue2.jpg" alt="logo"> 
        </div>

        <div id="titulo_container">
            <h1 id="nombre_pagina">eGOURMET</h1>
        </div>


        <nav id="nav_container">
            <ul>
                <li>
                    <a class="menu" href="../index.html#home">Principal</a>
                </li>
                <li>
                    <a class="menu" href="../index.html#galeria">Galería</a>
                </li>
                <li>
                    <a class="menu" href="../index.html#recetas">Recetas</a>
                </li>
                <li>
                    <a class="menu" href="../index.html#contacto">Contacto</a>
                </li>
            </ul>
        </nav>

    </header>

    <main>

        <section id="recetas">
            <h1 id="receta">Sorrentinos</h1>

        <h4>Ingredientes</h4>
        <ul>
            <li>300 gr. de harina de almendras</li>
            <li>300 gr. de azúcar impalpable</li>
            <li>110 gr. de claras de huevo licuadas</li>
            <li>300 gr. de azúcar</li>
            <li>75 gr. de agua</li>
            <li>1 cdta. de esencia de arándanos</li>
            <li>1 cdta. de esencia de vainilla</li>
            <li>Colorante para alimentos azul y violeta</li>
            <li>2 cdas. de mermelada de arándanos</li> 
            <li>Buttercream</li>
        </ul>

        <div>
            <h4>Pasos</h4>
            <ol id="pasos">
                <li>En una procesadora de alimentos, agregar la mitad del azúcar impalpable y la harina de almendras y procesar. Repetir con la otra mitad. Durante el proceso ir tamizando al menos 3 veces.</li>
                <li>Transferir la mezcla a un bowl, agregar la primera porción de claras de huevo y mezclar. Cubrir con film y reservar.</li>
                <li>Calentar una olla a fuego medio-alto y agregar el azúcar y el agua para hacer un almibar.</li>
                <li>Mientras tanto en un bowl, batir la segunda porción de claras de huevo a velocidad media/alta.</li>
                <li>Cuando el almíbar alcance los 118°, quitar del fuego y verter lentamente sobre las claras de huevo. Batir. Agregar la esencia de arándano, la esencia de vainilla y los 3 colorantes, batir hasta que al dar vuelta el bowl el merengue no caiga.</li>
                <li>Incorporar el merengue a la mezcla de almendras de a tandas y mezclar</li>
                <li>Colocar la mezcla en una manga pastelera y con esta colocar círculos en un molde para hornear forrado con papel antiadherente, separados entre sí.</li>
                <li>Dejar reposar por 30 min, no deben quedar pegajosos.</li>
                <li>Precalentar el horno a 180°. Hornear por 12 minutos. Luego, dejar enfriar.</li>
                <li>Rociar los macarrons con 30cm. de distancia con el colorante en spray violeta en la parte de arriba y con el colorante azul en la parte de abajo. Dejarlos secar.</li>
                <li>En una batidora eléctrica, batir la buttercream con la esencia de arándanos y la mermelada de arándanos. Con la ayuda de una manga pastelera, crear un remolino en una de las tapas de macarrons y sellar con la otra tapa para terminar.</li>
            </ol>

        </div>

        </section>

    </main>

    <section>
        <footer>

            <div id="legales">
                <p>© Copyright 2023. Todos los derechos reservados.</p>
            </div>

            <div id="redes">
                <p>Seguinos</p>
                <ul>
                    <li>
                        <a href="https://es-la.facebook.com/" target="_blank">
                            <div id="face"></div>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/" target="_blank">
                            <div id="inst"></div>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.whatsapp.com/?lang=es" target="_blank">
                            <div id="what"></div>
                        </a>
                    </li>
                </ul>
            </div>

            <div id="powered">
                <p></p>
                <a href="">CODO/Grupo 4</a>
            </div>
        </footer>
    </section>





</body>
</html>