<!DOCTYPE html>
<html lang="en">
<head>
   
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Syrniki con yogurt griego</title>

    <link rel="stylesheet" href="../css/recetas.css">
    <link rel="stylesheet" href="../css/index.css">
    <link rel="icon" type="image/x-icon" href="../img/icon/favicon.ico">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap" rel="stylesheet">

</head>

<body id="bodi">
    <header>

        <div id="logo_container">
           <img id="logo" src="../img/icon/blue2.jpg" alt="logo"> 
        </div>

        <div id="titulo_container">
            <h1 id="nombre_pagina">eGOURMET</h1>
        </div>


        <nav id="nav_container">
            <ul>
                <li>
                    <a class="menu" href="../index.html#home">Principal</a>
                </li>
                <li>
                    <a class="menu" href="../index.html#galeria">Galería</a>
                </li>
                <li>
                    <a class="menu" href="../index.html#recetas">Recetas</a>
                </li>
                <li>
                    <a class="menu" href="../index.html#contacto">Contacto</a>
                </li>
            </ul>
        </nav>

    </header>

    <main>

        <section id="recetas">
            <h1 id="receta">Syrniki con yogurt griego</h1>

        <h4>Ingredientes</h4>
        <ul>
            <li>Un huevo mediano.</li>
            <li>250 gr de requesón.</li>
            <li>50 gr de harina.</li>
            <li>25 gr de azúcar.</li>
            <li>25 gr de pasas.</li>
            <li>Un yogur griego azucarado.</li>
            <li>Mermelada de cereza.</li>
        </ul>

        <div>
            <h4>Pasos</h4>
            <ol id="pasos">
                <li>En un bol ponemos el requesón y lo aplastamos con un tenedor, añadir el huevo batido, el azúcar y mezclar un poco.</li>
                <li>Añadir las pasa y la harina tamizada, mezclar con un tenedor hasta que tengamos todo bien integrado.</li>
                <li>Formar bolas del tamaño de un huevo, ponerlas en medio de  un film trasparente y aplastar para obtener las tortitas.</li>
                <li>Calentar una sarten y poner unas gotas de aceite, hacer las tortitas hasta que estén doradas por ambos lados.</li>
                <li>Se pueden comer recién hechas o frías acompañadas de yogur griego y mermelada o miel.</li>
            </ol>

        </div>

        </section>

    </main>

    <section>
        <footer>

            <div id="legales">
                <p>© Copyright 2023. Todos los derechos reservados.</p>
            </div>

            <div id="redes">
                <p>Seguinos</p>
                <ul>
                    <li>
                        <a href="https://es-la.facebook.com/" target="_blank">
                            <div id="face"></div>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/" target="_blank">
                            <div id="inst"></div>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.whatsapp.com/?lang=es" target="_blank">
                            <div id="what"></div>
                        </a>
                    </li>
                </ul>
            </div>

            <div id="powered">
                <p></p>
                <a href="">CODO/Grupo 4</a>
            </div>
        </footer>
    </section>





</body>
</html>