<!DOCTYPE html>
<html lang="en">
<head>
   
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Torta Rogel</title>

    <link rel="stylesheet" href="../css/recetas.css">
    <link rel="stylesheet" href="../css/index.css">
    <link rel="icon" type="image/x-icon" href="../img/icon/favicon.ico">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap" rel="stylesheet">

</head>

<body id="bodi">
    <header>

        <div id="logo_container">
           <img id="logo" src="../img/icon/blue2.jpg" alt="logo"> 
        </div>

        <div id="titulo_container">
            <h1 id="nombre_pagina">eGOURMET</h1>
        </div>


        <nav id="nav_container">
            <ul>
                <li>
                    <a class="menu" href="../index.html#home">Principal</a>
                </li>
                <li>
                    <a class="menu" href="../index.html#galeria">Galería</a>
                </li>
                <li>
                    <a class="menu" href="../index.html#recetas">Recetas</a>
                </li>
                <li>
                    <a class="menu" href="../index.html#contacto">Contacto</a>
                </li>
            </ul>
        </nav>

    </header>

    <main>

        <section id="recetas">
            <h1 id="receta">Torta Rogel</h1>

        <h4>Ingredientes</h4>
        <ul>
            <h5>Para la masa:</h5>
            <li>130 g de manteca</li>
            <li>4 yemas</li>
            <li>600 gr. de harina 0000</li>
            <li>200 ml. de agua</li>
            <li>5 gr. de sal</li>
            <li>10 gr. de azúcar</li>
            <h5>Para el merengue:</h5>
            <li>300 gr. de azúcar</li>
            <li>4 claras</li>
        </ul>

        <div>
            <h4>Pasos</h4>
            <ol id="pasos">
                <li>En un bol colocar la harina junto con la sal y el azúcar, mezclar esto y continuar; hacer una corona con la harina y colocar ahí las yemas, el agua y la manteca derretida. Mezclar todo hasta formar una masa.</li>
                <li>Volcar en la preparación en la mesada y amasar a mano por un minuto. Cubrir con papel film y dejar reposar por 1 hora.</li>
                <li>Pasado este tiempo, separar la masa en 8 o 10 partes, dependiendo de la cantidad de tapitas con las que quieras armar tu torta rogel. Con parte hacer un bollito y estirar de 2 a 3 ml. de espesor. </li>
                <li>Pueden colocar encima de la masa la base del molde en el que harán la torta para tener una referencia y cortarlos con esta forma. Tener en cuenta que la tapas se encogerán un poco.</li>
                <li>Colocar las masas cortadas en una placa para horno previamente enharinada y pinchar la superficie de la masa con un tenedor. Cocinar a 200 grados por 8 a 10 minutos, hasta que la tapa esté dorada.</li>
                <li>Una vez cocinadas las tapas comenzar con el armado: Untar cada tapa con dulce de leche repostero colocando la cantidad necesaria y por encima otra tapa y aplastamos ambas. Repetir la acción hasta completar todas las tapas.</li>
                <li>La última tapa no lleva dulce de leche.</li>
                <h5>Preparación del merengue:</h5>
                <li>Mezclar las claras con 300 gr. de azúcar y revolver, llevar al fuego revolviendo hasta que el azúcar se disuelva, también se puede hacer a baño María.</li>
                <li>Cuando notar que el azúcar se disolvió, es el punto en el que sacamos del fuego.</li>
                <li>Comenzar a batir el merengue hasta enfriar.</li>
                <li>Una vez frío, colocar por arriba de la última tapa de rogel y con la misma espátula armar unos picos como decoración.</li>
            </ol>

        </div>

        </section>

    </main>

    <section>
        <footer>

            <div id="legales">
                <p>© Copyright 2023. Todos los derechos reservados.</p>
            </div>

            <div id="redes">
                <p>Seguinos</p>
                <ul>
                    <li>
                        <a href="https://es-la.facebook.com/" target="_blank">
                            <div id="face"></div>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/" target="_blank">
                            <div id="inst"></div>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.whatsapp.com/?lang=es" target="_blank">
                            <div id="what"></div>
                        </a>
                    </li>
                </ul>
            </div>

            <div id="powered">
                <p></p>
                <a href="">CODO/Grupo 4</a>
            </div>
        </footer>
    </section>





</body>
</html>