<!DOCTYPE html>
<html lang="en">
<head>
   
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tostado de pan blanco</title>

    <link rel="stylesheet" href="../css/recetas.css">
    <link rel="stylesheet" href="../css/index.css">
    <link rel="icon" type="image/x-icon" href="../img/icon/favicon.ico">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap" rel="stylesheet">

</head>

<body id="bodi">
    <header>

        <div id="logo_container">
           <img id="logo" src="../img/icon/blue2.jpg" alt="logo"> 
        </div>

        <div id="titulo_container">
            <h1 id="nombre_pagina">eGOURMET</h1>
        </div>


        <nav id="nav_container">
            <ul>
                <li>
                    <a class="menu" href="../index.html#home">Principal</a>
                </li>
                <li>
                    <a class="menu" href="../index.html#galeria">Galería</a>
                </li>
                <li>
                    <a class="menu" href="../index.html#recetas">Recetas</a>
                </li>
                <li>
                    <a class="menu" href="../index.html#contacto">Contacto</a>
                </li>
            </ul>
        </nav>

    </header>

    <main>

        <section id="recetas">
            <h1 id="receta">Tostado de pan blanco</h1>

        <h4>Ingredientes</h4>
        <ul>
            <li>175 gramos de jamón cocido feteado</li>
            <li>50 gramos de feta de queso cheddar</li>
            <li>4 rebanadas de pan de campo</li>
            <li>6 rebanadas de manzana verde</li>
            <li>1 cucharadita de tomillo fresco</li>
            <li>2 cucharadas de Mayonesa</li>
        </ul>

        <div>
            <h4>Pasos</h4>
            <ol id="pasos">
                <li>Primero, combiná la mitad de la Mayonesa con el tomillo picado en un bol pequeño.</li>
                <li>Luego, untá la mezcla sobre las rebanadas de pan y colocá el jamón, el queso y la manzana por encima.</li>
                <li>Cerrá el sándwich y sumale 2 cucharadas de Mayonesa en la parte exterior del pan.</li>
                <li>Por último, precalentá una sartén a fuego alto, y cociná los sándwiches hasta que se doren unos 3 o 4 minutos por lado.</li>
            </ol>

        </div>

        </section>

    </main>

    <section>
        <footer>

            <div id="legales">
                <p>© Copyright 2023. Todos los derechos reservados.</p>
            </div>

            <div id="redes">
                <p>Seguinos</p>
                <ul>
                    <li>
                        <a href="https://es-la.facebook.com/" target="_blank">
                            <div id="face"></div>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/" target="_blank">
                            <div id="inst"></div>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.whatsapp.com/?lang=es" target="_blank">
                            <div id="what"></div>
                        </a>
                    </li>
                </ul>
            </div>

            <div id="powered">
                <p></p>
                <a href="">CODO/Grupo 4</a>
            </div>
        </footer>
    </section>





</body>
</html>