<!DOCTYPE html>
<html lang="en">
<head>
   
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vacio con ensalada</title>

    <link rel="stylesheet" href="../css/recetas.css">
    <link rel="stylesheet" href="../css/index.css">
    <link rel="icon" type="image/x-icon" href="../img/icon/favicon.ico">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap" rel="stylesheet">

</head>

<body id="bodi">
    <header>

        <div id="logo_container">
           <img id="logo" src="../img/icon/blue2.jpg" alt="logo"> 
        </div>

        <div id="titulo_container">
            <h1 id="nombre_pagina">eGOURMET</h1>
        </div>


        <nav id="nav_container">
            <ul>
                <li>
                    <a class="menu" href="../index.html#home">Principal</a>
                </li>
                <li>
                    <a class="menu" href="../index.html#galeria">Galería</a>
                </li>
                <li>
                    <a class="menu" href="../index.html#recetas">Recetas</a>
                </li>
                <li>
                    <a class="menu" href="../index.html#contacto">Contacto</a>
                </li>
            </ul>
        </nav>

    </header>

    <main>

        <section id="recetas">
            <h1 id="receta">Vacio con ensalada</h1>

        <h4>Ingredientes</h4>
        <ul>
            <li>400 gramos de vacío de res</li>
            <li>4 lechugas romanas, baby, partida a la mitad</li>
            <li>2 tazas de jitomate cherry, partidos a la mitad</li>
            <li>1/2 cebollas moradas, en rebanadas finas</li>
            <li>suficiente de sal de grano</li>
            <li>suficiente de pimienta negra</li>
            <li>suficiente de aceite de oliva</li>
            <li>1/2 tazas de aceite de oliva, para la vinagreta</li>
            <li>1/2 tazas de vinagre balsámico, para la vinagreta</li> 
            <li>2 cucharadas de mostaza, para la vinagreta</li>
            <li>1 diente de ajo, finamente picado, para la vinagreta</li>
            <li>suficiente de sal de grano, para la vinagreta</li>
            <li>suficiente de pimienta negra, para la vinagreta</li>
        </ul>

        <div>
            <h4>Pasos</h4>
            <ol id="pasos">
                <li>En un recipiente pequeño y con la ayuda de un batidor de globo, mezcla todos los ingredientes de la vinagreta hasta emulsionar. Reserva.</li>
                <li>Prepara tu asador para fuego alto directo.</li>
                <li>Vierte un poco de la vinagreta al centro de las lechugas y deja reposar.</li>
                <li>Realiza unas cuantas incisiones de aproximadamente ½ cm en el vacío, en diagonal a las fibras de la carne.</li>
                <li>Barniza el corte con aceite de oliva, sazona con sal y pimienta al gusto por ambos lados.</li>
                <li>Transfiere el vacío a tu asador a fuego alto directo de 3 a 4 minutos por lado para término medio.</li>
                <li>Asa las mitades de lechuga a fuego alto directo por 1 minutos con el lado del corte hacia abajo, retira del asador y reserva.</li>
                <li>Corta la carne en cubos de 1.5cm x 1.5cm y reserva. Para servir, coloca 2 mitades de lechuga y acompaña con carne, jitomate, cebolla y vinagreta al gusto.</li>
            </ol>

        </div>

        </section>

    </main>

    <section>
        <footer>

            <div id="legales">
                <p>© Copyright 2023. Todos los derechos reservados.</p>
            </div>

            <div id="redes">
                <p>Seguinos</p>
                <ul>
                    <li>
                        <a href="https://es-la.facebook.com/" target="_blank">
                            <div id="face"></div>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/" target="_blank">
                            <div id="inst"></div>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.whatsapp.com/?lang=es" target="_blank">
                            <div id="what"></div>
                        </a>
                    </li>
                </ul>
            </div>

            <div id="powered">
                <p></p>
                <a href="">CODO/Grupo 4</a>
            </div>
        </footer>
    </section>





</body>
</html>