<!DOCTYPE html>
<html lang="en">
<head>
   
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Volcan de chocolate</title>

    <link rel="stylesheet" href="../css/recetas.css">
    <link rel="stylesheet" href="../css/index.css">
    <link rel="icon" type="image/x-icon" href="../img/icon/favicon.ico">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap" rel="stylesheet">

</head>

<body id="bodi">
    <header>

        <div id="logo_container">
           <img id="logo" src="../img/icon/blue2.jpg" alt="logo"> 
        </div>

        <div id="titulo_container">
            <h1 id="nombre_pagina">eGOURMET</h1>
        </div>


        <nav id="nav_container">
            <ul>
                <li>
                    <a class="menu" href="../index.html#home">Principal</a>
                </li>
                <li>
                    <a class="menu" href="../index.html#galeria">Galería</a>
                </li>
                <li>
                    <a class="menu" href="../index.html#recetas">Recetas</a>
                </li>
                <li>
                    <a class="menu" href="../index.html#contacto">Contacto</a>
                </li>
            </ul>
        </nav>

    </header>

    <main>

        <section id="recetas">
            <h1 id="receta">Volcan de chocolate</h1>

        <h4>Ingredientes</h4>
        <ul>
            <li>Manteca 75 g</li>
            <li>Chocolate 115 g</li>
            <li>Azúcar 75 g</li>
            <li>Huevos 4 unidades</li>
            <li>Harina 75 g</li>
            <li>Cacao en polvo 50 g</li>
        </ul>

        <div>
            <h4>Pasos</h4>
            <ol id="pasos">
                <li>Para comenzar, derretimos el chocolate con la manteca en el microondas durante unos segundos controlando que no se nos queme.</li>
                <li>A continuación, en un bowl, batimos los huevos con el azúcar hasta que quede espumoso. Luego, incorporamos el chocolate derretido poco a poco y revolvemos.</li>
                <li>Tamizamos la harina y la añadimos al bowl. Mezclamos bien.</li>
                <li>Enmantecamos los moldes y los espolvoreamos con cacao en polvo. Luego, los llenamos unas ¾ partes y los congelamos.</li>
                <li>Precalentamos el horno a 180ºC.</li>
                <li>Cuando estén bien congelados, los horneamos a 180º C, sin ventilador, durante 12 minutos, cuando están listos se inflará el centro.</li>
                <li>Lo puedes servir con helado de vainilla o crema y frutas de temporada.</li>
            </ol>

        </div>

        </section>

    </main>

    <section>
        <footer>

            <div id="legales">
                <p>© Copyright 2023. Todos los derechos reservados.</p>
            </div>

            <div id="redes">
                <p>Seguinos</p>
                <ul>
                    <li>
                        <a href="https://es-la.facebook.com/" target="_blank">
                            <div id="face"></div>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/" target="_blank">
                            <div id="inst"></div>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.whatsapp.com/?lang=es" target="_blank">
                            <div id="what"></div>
                        </a>
                    </li>
                </ul>
            </div>

            <div id="powered">
                <p></p>
                <a href="">CODO/Grupo 4</a>
            </div>
        </footer>
    </section>





</body>
</html>