<!DOCTYPE html>
<html lang="en">
<head>
   
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Waffles</title>

    <link rel="stylesheet" href="../css/recetas.css">
    <link rel="stylesheet" href="../css/index.css">
    <link rel="icon" type="image/x-icon" href="../img/icon/favicon.ico">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap" rel="stylesheet">

</head>

<body id="bodi">
    <header>

        <div id="logo_container">
           <img id="logo" src="../img/icon/blue2.jpg" alt="logo"> 
        </div>

        <div id="titulo_container">
            <h1 id="nombre_pagina">eGOURMET</h1>
        </div>


        <nav id="nav_container">
            <ul>
                <li>
                    <a class="menu" href="../index.html#home">Principal</a>
                </li>
                <li>
                    <a class="menu" href="../index.html#galeria">Galería</a>
                </li>
                <li>
                    <a class="menu" href="../index.html#recetas">Recetas</a>
                </li>
                <li>
                    <a class="menu" href="../index.html#contacto">Contacto</a>
                </li>
            </ul>
        </nav>

    </header>

    <main>

        <section id="recetas">
            <h1 id="receta">Waffles</h1>

        <h4>Ingredientes</h4>
        <ul>
            <li>1/2 taza de harina leudante</li>
            <li>1/2 taza de harina integral</li>
            <li>1/4 taza de manteca derretida</li>
            <li>1 huevo</li>
            <li>1 cdita sal</li>
            <li>3/4 taza leche</li>
            <li>1 cda de azúcar</li>
        </ul>

        <div>
            <h4>Pasos</h4>
            <ol id="pasos">
                <li>Para la masa de waffles dulces En un bol vamos a poner la harina integral junto con la harina leudante. Agregamos una cucharadita de sal y también el endulzante o el azúcar dependiendo lo que prefieran usar. Mexclamos incorporando bien todos nuestros polvos.</li>
                <li>A esto, vamos a agregar un huevo y la mitad de la cantidad total de la leche. También agregamos un chorrito de esencia de vainilla le dará un sabor especial a éstos waffles dulces. Mezclamos hasta que todo esté bien incorporado.</li>
                <li>Una vez que esté incorporado, vamos a ir incorporando de a chorritos el resto de la leche, mezclando hasta incorporar entre chorrito y chorrito. Sólo nos queda agregar la manteca derretica y una vez que esté bien mezclado todo, lo vamos a llevar a la heladera por media hora para que se hidrate bien la harina y quede bien espesa la mezcla.</li>
                <li>Pasado este tiempo, vamos a retirar la mezcla de la heladera y vamos a preparar nuestra wafflera (o en su defecto, una sartén al fuego, no quedan con la forma de waffle pero se hacen perfectamente.) Vamos a echar rocío vegetal o un pedacito de manteca para que se derrita y luego, encima echamos la mezcla. Cerramos la wafflera y esperamos unos segundos que se cocinen. Si están utilizando sartén, cuestión de hacer vuelta y vuelta.</li>
                <li>Sólo queda, entonces, sacar los waffles cuando estén hechos y tirarles por encima una rica mermelada.</li>
            </ol>

        </div>

        </section>

    </main>

    <section>
        <footer>

            <div id="legales">
                <p>© Copyright 2023. Todos los derechos reservados.</p>
            </div>

            <div id="redes">
                <p>Seguinos</p>
                <ul>
                    <li>
                        <a href="https://es-la.facebook.com/" target="_blank">
                            <div id="face"></div>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/" target="_blank">
                            <div id="inst"></div>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.whatsapp.com/?lang=es" target="_blank">
                            <div id="what"></div>
                        </a>
                    </li>
                </ul>
            </div>

            <div id="powered">
                <p></p>
                <a href="">CODO/Grupo 4</a>
            </div>
        </footer>
    </section>





</body>
</html>